body{
    font-family: 'Yusei Magic', sans-serif;
    background-color: #1A1A1D;
}
p{
    color:  white;
}
/* Color on links */
a:hover {
  color: gold;
}
a{
    color: white;
}
.betweenpages a:hover{
    opacity: 0.6;
    transition-duration: 750ms;
}
h1.starting{
text-align: center;
color: white;
font-weight: 900;
text-transform: uppercase;
letter-spacing: 3px;
width: 100%;
padding: 20px 0px;
border-radius: 10px;
margin: auto;
background-color: #6F2232;
font-size: 30px;
letter-spacing: 30px;
text-decoration: underline;
}
a{
  text-decoration: none;
}
.boxes .box{
  position: relative;
  width: calc(337px - 30px);
  height: calc(100px - 30px);
  background: #6F2232;
  float: left;
  margin: 10px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px; 
}
.box:hover{
  background: #5523AA;
  transition: 0.7s;
}
.websitestart{
    color: white;
    text-align: center;
    margin-top: 200px;
}

.startingparagraphs{
    font-size: 20px;
    text-indent: 4em;
    margin-top: 70px;
}

.profilesh{
    text-align: center;
    font-size: 30px;
    margin-top: 70px;
    color: white;
}

.profilesp{
    text-align: center;
    font-size: 30px;
    margin-top: 70px;
    color: white;
    
}

a.codecademylinks{
  display: table;
  width: 200px;
  padding: 31px 5px;
  border-radius: 10px;
  margin: auto;
  background-color: #6F2232;
  text-align: center;
  font-size: 18px;
  color: MintCream;
}

a.codecademylinks:hover {
  background-color: #5523AA;
  transition: 0.7s;
}

.aboutwebpage{
    color: white;
    text-indent: 2em;
    
}

/*Images*/
.faridimage{
    position: relative;
    left: 400px;
    border: 8px solid rgba(111,34,50,.5);
}